# Ignore dataset folders
train/
test/
valid/

# Ignore model weights if needed
# *.h5
#*.keras

# Ignore temporary python cache
__pycache__/
*.pyc

# Ignore Jupyter notebooks checkpoint
.ipynb_checkpoints/

# Ignore OS files
.DS_Store

# Ignore virtual environment
venv/
ENV/

# Ignore Streamlit's .streamlit folder if secret keys are there
.streamlit/secrets.toml
